body {
    margin: 100px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

h1 {
    font-family: 'Oswald';
    color: rgb(73, 52, 49);
}

p {
    font-family: 'Fira Sans';
    color: red;
}

a {
    color: rgb(167, 1, 78);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#todays-challenge {
    color: rgb(73, 52, 49);
    font-weight: bold;
    font-size: 52px;
}

span {
    color: rgb(80, 9, 0);
}